{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Brainstorm</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="{% static 'brainstorm.jpg' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body style="background-color:#406775">


<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg  navbar-light bg-warning" style="margin-bottom:2%">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">Home</a>
            </li>

            {% if request.user.is_authenticated  %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'welcome' %}">Welcome</a>

                </li>
                {% if not hide_additional_nav_items %}
                    <li class="nav-item">
                        <a class="nav-link" href="">New Game</a>


                    </li>
                {% endif %}
                <li class="nav-item">
                    <img style="width: 10%" src="{{ profile.picture }}">
                </li>
                <li class="nav-item">
                    
                    <a class="nav-link" href="{% url 'profile details' request.user.id %}"> Profile</a>
                </li>
                <li class="nav-item">



                    <a class="nav-link" href="{% url 'logout user' request.user.id %}">Logout</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
<!-- End Navigation Bar -->
<div class="container mb-5 mt-2">
    <h1 style="color:#FFB50A; font-weight:bold; text-align:center; font-size:100px">Brainstorm</h1>
</div>
<div class="container">
    {% block page_content %}
    {% endblock %}
</div>

    {% block bottom_page_content %}
    {% endblock %}
<!-- Page Footer -->
<footer style="background-color:#FFB50A; text-align:center">
    <div>

        <a style="color:#406775; font-weight:bold">@2022 AKRAD/DIDO Всички права запазени</a>
    </div>
</footer>
<!-- End Page Footer -->


</body>

</html>