{% extends 'base.html' %}
{% block page_content %}
    <div class="row justify-content-center">
        <div class="d-flex">
            <div class="d-inline p-2 w-50">
                <img src="{{ profile.picture }}"
                     class="w-50 rounded mx-auto d-block" alt="description">
            </div>
            <div class="d-inline p-2 w-50">
                <div class="d-flex flex-column">
                    <h5><u>Name:</u> {{ profile.first_name }}{{ profile.last_name }}</h5>
                    <!-- If Date of Birth -->
                    {% if profile.data_of_birth %}
                        <h5><u>Birthdate:</u> {{ profile.data_of_birth }}</h5>
                    {% endif %}
                    <!-- If Email -->
                    {% if profile.email %}
                        <h5><u>Email:</u> {{ profile.email }}</h5>
                    {% endif %}
                        <!-- If Gender is Chosen -->
                    {% if profile.gender %}
                        <h5><u>Gender:</u> {{ profile.gender }}</h5>
                    {% endif %}
                        <!-- If Description -->
                    {% if profile.description %}
                        <h5><u>Description:</u> {{ profile.description }}</h5>
                    {% endif %}
                </div>
                <p class="mt-2">Total games: {{ request.clicks_count }}</p>
                <p class="mt-2">Total wins: {{ request.total_win_games }}</p>

                <a href="{% url 'edit profile' profile.pk %}" class="btn btn-primary">Edit</a>
                <a href="{% url 'delete profile' profile.pk %}" class="btn btn-danger">Delete</a>
                <a href="{% url 'logout user' profile.pk %}" class="btn btn-danger">Logout</a>

            </div>
        </div>
    </div>


{% endblock %}

{% block bottom_page_content %}
        <h2 class="text-center">My Games</h2>
    <div class="container mb-4">
        <div class="d-flex justify-content-start mb-5">
            <!-- Info for Game -->
{#            {% for game in games %}#}
{#                <div style="width: 18rem;">#}
{#                    <h5>{{ game.name }}</h5>#}
{#                    {% if game.result %}#}
{#                        <p class="mt-2">{{ game.type }}</p>#}

{#                    {% endif %}#}
{#                </div>#}
{#            {% endfor %}#}
        </div>
    </div>
{% endblock %}