{% extends 'base.html' %}

{% block page_content %}
    <h1 class="text-center">Confirm Profile</h1>
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <form method="post" action="{% url 'register' %}">
                {% csrf_token %}
                {{ form }}
                <h2>Sign up</h2>
                <form method="post">
                    {% csrf_token %}
                        {% for field in form %}
                        <p>
                            {{ field.label_tag }}<br>
                            {{ field }}
                            {% if field.help_text %}
                              <small style="display: none">{{ field.help_text }}</small>
                            {% endif %}
                            {% for error in field.errors %}
                              <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </p>
                        {% endfor %}
                    <button type="submit">Sign up</button>
                </form>
                <button class="btn btn-primary mt-2" type="submit">Confirm</button>
            </form>
        </div>
        <div class="col-lg-3"></div>
    </div>
{% endblock %}