{% extends 'base.html' %}
{% load static %}

{% block page_content %}
    <div class="jumbotron">
        <img style="width: 80%"
             src="https://static.blitz.bg/documents/thumbnails/730/201808/1535489452-screaming.jpg" alt="Oppss">
        <div class="position-sticky">
            <h1 style="color:sienna; text-align:center;">401 Unauthorized</h1>
            <p style="color:sienna; text-align:center;">You should create a profile to open this page!</p>
            <hr class="my-4">
            <div style="text-align:center">

                <!-- Button to show when profile is NOT created -->
                <a href="{% url 'register' %}" class="btn btn-lg btn-secondary">Create Profile</a>
            </div>
        </div>
    </div>
{% endblock %}