{% extends 'base.html' %}

{% block page_content %}



    <div >

        <img style="width: 100%"
             src="https://render.fineartamerica.com/images/rendered/medium/print/8/8/break/images/artworkimages/medium/1/brainstorm-johan-swanepoel.jpg" alt="Нещо липсва">

            <h1 style="color:sienna; text-align:center;">Нещо се обърка</h1>
            <p style="color:#f1f1f1; text-align:center;">Обърнете се към администратора или опитайте пак!!</p>
            <hr class="my-4">
            <div style="text-align:center" >
                <a  href="{% url 'index' %}" class="btn btn-rg btn-secondary">Направи профил</a>
            </div>

    </div>



{% endblock %}