{% extends 'base.html' %}
{% load static %}
{% block page_content %}
    <div class="jumbotron">
        <img style="width: 80%"
             src="https://render.fineartamerica.com/images/rendered/medium/print/8/8/break/images/artworkimages/medium/1/brainstorm-johan-swanepoel.jpg" alt="">
        <div class="position-sticky">
            <h1 class="display-4">WELCOME TO BRAINSTORM</h1>
            <p class="lead">THIS IS BRAIN GAME.</p>
            <hr class="my-4">
            <div class="flex-row">

                <!-- Login Button -->
                <a href="{% url 'login user' %}" class="btn btn-lg btn-secondary">Login</a>

                <!-- Register Button -->
                <a href="{% url 'register' %}" class="btn btn-lg btn-secondary">Register</a>
            </div>
        </div>
    </div>
{% endblock %}