{% extends 'base.html' %}
{% load static %}

{% block page_content %}
    <h1 class='text-center'>
        <body>
        <div class="container mb-5 mt-2">
            <div class="jumbotron">
                <img style="width: 80%"
                     src="https://render.fineartamerica.com/images/rendered/medium/print/8/8/break/images/artworkimages/medium/1/brainstorm-johan-swanepoel.jpg" alt="">
                <div class="position-sticky">
                    <h1 class="display-4">BRAINSTORM</h1>
                    <p class="lead">НЕКА ИГРАТА ЗАПОЧНЕ СЕГА!!</p>
                    <hr class="my-4">
                    <div class="row col-lg-6">


                        <a href="" class="btn btn-lg btn-secondary">START</a>
                    </div>
                </div>
            </div>
            {#        {% if pet_photos %}#}
            {#            All Pet Photos#}
            {#        {% else %}#}
            {#            No pet photos yet#}
            {#        {% endif %}#}
    </h1>
    {#    {% if pet_photos %}#}
    {#        <div class="container mb-5">#}
    {#            <div class="row mb-5">#}
    {#                {% for pet_photo in pet_photos %}#}
    {#                    <div class="card ml-3 mb-3" style="width: 18rem;">#}
    {#                        <!-- Image -->#}
    {#                        <img src="{{ pet_photo.photo.url }}"#}
    {#                             class="card-img-top" alt="Photo description">#}
    {#                        <div class="card-body">#}
    {#                            {% for pet in pet_photo.tagged_pets.all %}#}
    {#                                <h5 class="card-title">{{ pet.name }}{% if pet.date_of_birth %}#}
    {#                                    {{ pet.age }}    {# Може и место прпарти --{{ pet.date_of_birth|years_to_now }}#}
    {#                                {% endif %}</h5>#}
    {#                            {% endfor %}#}
    {#                            <!-- First 30 chars from the description -->#}
    {#                            <p class="card-text">{{ pet_photo.description|truncatechars:30 }}</p>#}
    {#                            <!-- Button to the Photo Details Page -->#}
    {#                            <a href="{% url 'pet photo details' pet_photo.id %}" class="btn btn-primary">See details</a>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                {% endfor %}#}
    {#            </div>#}
    {#        </div>#}
    {#    {% else %}#}
    {#        <div class=" row d-flex justify-content-center align-content-center">#}
    {#            <!-- Button to Add a new Photo -->#}
    {#            <a href="{% url 'create pet photo' %}" class="btn btn-lg btn-secondary row align-self-baseline">Add Photo</a>#}
    {#        </div>#}
    {#    {% endif %}#}
    <!-- If there are pet photos -->
{% endblock %}

