{% extends 'base.html' %}
{% block page_content %}


    <div class="container mb-5 mt-2">
        <div class="jumbotron">
            <img style="width: 100%"
                 src="https://render.fineartamerica.com/images/rendered/medium/print/8/8/break/images/artworkimages/medium/1/brainstorm-johan-swanepoel.jpg" alt="нещо липсва">
            <div class="position-sticky" style="text-align:center" >
                <h1 class="display-4">BRAINSTORM</h1>
                <p class="lead">НЕКА ИГРАТА ЗАПОЧНЕ СЕГА!!</p>
                <hr class="my-4">
                    {{ request.clicks_count }}
                    {{ request.last_game }}
                <hr class="my-4">
                    <a href="" class="btn btn-lg btn-secondary" >START</a>

            </div>
        </div>
    </div>


{% endblock %}

